numpy
pandas
matplotlib
seaborn
scikit-learn
nltk
streamlit
ipykernel
docker
dill

# chatbot requirements

# Web Framework
fastapi
uvicorn[standard]

# LangChain & Ecosystem
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface

# Vectorstore
chromadb

# Embeddings
sentence-transformers

# Environment Variables
python-dotenv

# Typing & Utilities
pydantic
requests

# Logging (optional but recommended)
#loguru
python-multipart

#-e.